:root{
    --maincolor: #F2E9EB;
    --secondcolor: #a58e6a;
    --thirdcolor: #a58e6a;
    --fourthcolor: #31383F;
    --color5: #000;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
       --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;}
/* left side */
.conatinerAd{
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    height: 89.8vh;
}
/* RIGHT SECTION */

.gestion{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center{
    opacity: 0;
    overflow: scroll;
    padding: 50px;
    position: relative;
    height: 80vh;
    float: right;
    top: 0;
    left: 0;
    flex:1;
    transition: all 0.9;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;

}
@media (max-width:999px) {
    .center{
        width: 100%;
    }
}
/* MANUPULATION */
.manup{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 99;
    color: #ddd;
    height: 500px;
    width: 100%;
    background-color: var(--fourthcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;

    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
}
.asso .btnLogin::before,.asso .btnLogin::after{
    background-color: var(--fourthcolor) !important;
}

/* side bare */

#nav-bar {
  position: sticky;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--fourthcolor);
  border-radius: 0 0 16px 0;
  display: flex;
  flex-direction: column;
  color: var(--navbar-light-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow: hidden;
  user-select: none;
  -webkit-border-radius: 0 0 16px 0;
  -moz-border-radius: 0 0 16px 0;
  -ms-border-radius: 0 0 16px 0;
  -o-border-radius: 0 0 16px 0;
  z-index: 99;
}

  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px); }

  #nav-toggle:checked ~ #nav-content{
    width: var(--navbar-width-min); }

  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s; }

  #nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
    left: calc(50% - 8px);
    transform: translate(-50%); }

  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary); }
    #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
      width: 16px;
      background: var(--navbar-light-primary);
      transform: translate(0, 0) rotate(0deg); }

  #nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -ms-transition: opacity .1s;
    -o-transition: opacity .1s;
}

  #nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px); }

    #nav-bar hr {
      margin: 0;
      position: relative;
      left: 16px;
      width: calc(100% - 32px);
      border: none;
      border-top: solid 1px var(--navbar-dark-secondary); }
    #nav-bar a {
      color: inherit;
      text-decoration: inherit; }
      #nav-bar span {
        margin-left: 10px;
      }
    #nav-bar input[type="checkbox"] {
      display: none; }

  #nav-header {
    z-index: 99;
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(fourthcolo);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s; }
    #nav-header hr {
      position: absolute;
      bottom: 0; }

  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s; }

  label[for="nav-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
}

  #nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--fourthcoloy);
    border-radius: 99px;
    transition: background .2s; }
    #nav-toggle-burger:before, #nav-toggle-burger:after {
      content: '';
      position: absolute;
      top: -6px;
      width: 10px;
      height: 2px;
      background: var(--maincolor);
      border-radius: 99px;
      transform: translate(2px, 8px) rotate(30deg);
      transition: .2s; }
    #nav-toggle-burger:after {
      top: 6px;
      transform: translate(2px, -8px) rotate(-30deg); }

  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--fourthcoloy);
    box-shadow: 0 0 0 16px var(--fourthcoloy);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s; }
    #nav-content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    #nav-content::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929; }
    #nav-content::-webkit-scrollbar-button {
      height: 16px; }

  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 74px;
    background: var(--secondcolor);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s; }
    #nav-content-highlight:before, #nav-content-highlight:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 16px 16px var(--secondcolor); }
    #nav-content-highlight:after {
      top: 100%;
      box-shadow: 16px -16px var(--secondcolor); }
      #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 74px;
    background: var(--secondcolor);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s; }
    #nav-content-highlight:before, #nav-content-highlight:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 16px 16px var(--secondcolor); }
    #nav-content-highlight:after {
      top: 100%;
      box-shadow: 16px -16px var(--secondcolor); }

      /* hightlight 2 */
      #nav-content-highlight2 {
        position: absolute;
        left: 16px;
        top: -70px;
        width: calc(100% - 16px);
        height: 74px;
        background: var(--secondcolor);
        background-attachment: fixed;
        border-radius: 16px 0 0 16px;
        transition: top .2s; }
        #nav-content-highlight2:before, #nav-content-highlight2:after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 100%;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          box-shadow: 16px 16px var(--secondcolor); }
        #nav-content-highlight2:after {
          top: 100%;
          box-shadow: 16px -16px var(--secondcolor); }

  .nav-button {
    position: relative;
    margin-left: 16px;
    height: 74px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 99;
    transition: color .2s; }
    .nav-button span {
      transition: opacity 1s; }
    .nav-button .fas {
      transition: min-width .2s; }
    .active-side1,.active-side2,.active-side3,.active-side4,.active-side5,.active-side6,.active-side7,.active-side8{
    color: var(--navbar-dark-primary);
    }
    .nav-button:nth-of-type(1):hover,.nav-button:nth-of-type(4):hover,.nav-button:nth-of-type(5):hover,.nav-button:nth-of-type(3):hover,.nav-button:nth-of-type(2):hover,.nav-button:nth-of-type(6):hover,.nav-button:nth-of-type(7):hover,.nav-button:nth-of-type(8):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(1):hover ~ #nav-content-highlight, .active-side1~ #nav-content-highlight2 {
        top: 16px; }
      .nav-button:nth-of-type(2):hover ~ #nav-content-highlight,.active-side2~ #nav-content-highlight2  {
        top: 90px; }
      .nav-button:nth-of-type(3):hover ~ #nav-content-highlight,.active-side3~ #nav-content-highlight2  {
        top: 164px; }
      .nav-button:nth-of-type(4):hover ~ #nav-content-highlight,.active-side4~ #nav-content-highlight2 {
        top: 238px; }
      .nav-button:nth-of-type(5):hover ~ #nav-content-highlight,.active-side5~ #nav-content-highlight2  {
        top: 312px; }
      .nav-button:nth-of-type(6):hover ~ #nav-content-highlight,.active-side6~ #nav-content-highlight2  {
        top: 386px; }
      .nav-button:nth-of-type(7):hover ~ #nav-content-highlight,.active-side7~ #nav-content-highlight2  {
        top: 460px; }
      .nav-button:nth-of-type(8):hover ~ #nav-content-highlight,.active-side8~ #nav-content-highlight2  {
        top: 534px; }


  #nav-bar .fas {
    min-width: 3rem;
    text-align: center; }
    @media (max-width: 644px){
        .btn1{

            width:50%;
        }
        .btn2{

            width:50%;
        }
        .btn3{

            width:50%;
        }
        .btn4{

            width:50%;
        }
        .btn5{

            width:100%;
        }
        #nav-bar{
            border-radius: 0 0 16px 16px;
            position: relative;
            width: 100%;
            height: 100vh;
            transition: height 0.4s ease-in-out;
            -webkit-border-radius: 0 0 16px 16px;
            -moz-border-radius: 0 0 16px 16px;
            -ms-border-radius: 0 0 16px 16px;
            -o-border-radius: 0 0 16px 16px;
            -webkit-transition: height 0.4s ease-in-out;
            -moz-transition: height 0.4s ease-in-out;
            -ms-transition: height 0.4s ease-in-out;
            -o-transition: height 0.4s ease-in-out;
}

        .conatinerAd{
            flex-direction: column;
        }
        .hr{
            width: 0 !important;
        }
        .nav-button{

            border-radius: 16px;
            margin-left: 0 !important;
            padding: 10px;
            overflow: hidden;
            -webkit-border-radius: 16px;
            -moz-border-radius: 16px;
            -ms-border-radius: 16px;
            -o-border-radius: 16px;
    }
        .nav-button span{
            width: 100%;
            text-align: center;
        }
        .nav-button::before{
            content: "";
            position: absolute;
            left: 16px;
            top: -80px;
            width:100%;
            height: 74px;
            background: var(--secondcolor);
            background-attachment: fixed;
            border-radius: 16px 0 0 16px;
            transition: top .2s;
            z-index: -1;
            -webkit-border-radius: 16px 0 0 16px;
            -moz-border-radius: 16px 0 0 16px;
            -ms-border-radius: 16px 0 0 16px;
            -o-border-radius: 16px 0 0 16px;
    }
        .nav-button:hover::before,.active-side::before{
            top: 0px;
        }

    #nav-content-highlight,#nav-content-highlight2{
        display: none;
    }

        #nav-content {
            text-align: center;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100% !important;
            font-size: 12px;
            direction: ltr !important;
        }
        #nav-header{
            width: 90% !important;
        }
        #nav-toggle:checked ~ #nav-content .nav-button span {
            opacity: 1;
        }
        label[for="nav-toggle"] {
            right: 0;
            width: 3rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            z-index: 99;
            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
    }
    #nav-toggle:checked ~ #nav-header label[for="nav-toggle"]
    {
        left: 94.5%;
        transform: translate(-50%);
    }

    #nav-toggle:checked ~ #nav-header #nav-title {
        opacity: 1; }
    #nav-bar:has(#nav-toggle:checked)   {
        height: 70px;}
    .conatinerAd:has(:not(#nav-toggle:checked)) .center  {

        display: none;

}
        .conatinerAd:has(#nav-toggle:checked) .center  {
            display: block;}
    }
      /* select */
      .select{
        color: var(--navbar-light-primary);
        border: 0 ;
        border-bottom: var(--navbar-light-primary) solid 1px;
        background-color: transparent;
      }
      .option{
        background-color: var(--secondcolor);
      }
      .custom-dropdown select {
        background-color:var(--secondcolor);
        color: #fff;
        font-size: inherit;
        padding: .5em;
        padding-right: 2.5em;
        border: 0;
        margin: 0;
        border-radius: 3px;
        text-indent: 0.01px;
        text-overflow: '';

      }








/* h1 */
.h1{
    text-align: center;
    background-color: #a58e6a;
    color: #fff;
    padding:10px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
