:root{
    --maincolor: #F2E9EB;
    --secondcolor: #dd8e14;
    --thirdcolor: #fec841;
    --fourthcolor: #31383F;
    --color5: #000;
    --navbar-width: 256px;
    --navbar-width-min: 80px;
    --navbar-dark-primary: #18283b;
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
}
/* left side */
.conatinerAd{
    position: fixed;
    width: 100%;
    height: 100vh;
}
/* RIGHT SECTION */

.GestionEmplois{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.center{
    z-index: -1;
    position: relative;
    width: 84%;
    height: 80vh;
    float: right;
    top: 0;
    left: 0;

}
/* MANUPULATION */
.manup{
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ddd;
    height: 300px;
    width: 500px;
    background-color: var(--fourthcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
}
.manup button{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 50px;
    background-color: var(--secondcolor);
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* side BARE */
.sideBar{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--secondcolor);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* custom radio */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    margin-bottom: 100px;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--thirdcolor);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {

    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {

    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* side bare */

  #nav-toggle:checked ~ #nav-header {
    width: calc(var(--navbar-width-min) - 16px); }

  #nav-toggle:checked ~ #nav-content, #nav-toggle:checked ~ #nav-footer {
    width: var(--navbar-width-min); }

  #nav-toggle:checked ~ #nav-header #nav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity .1s; }

  #nav-toggle:checked ~ #nav-header label[for="nav-toggle"] {
    left: calc(50% - 8px);
    transform: translate(-50%); }

  #nav-toggle:checked ~ #nav-header #nav-toggle-burger {
    background: var(--navbar-light-primary); }
    #nav-toggle:checked ~ #nav-header #nav-toggle-burger:before, #nav-toggle:checked ~ #nav-header #nav-toggle-burger::after {
      width: 16px;
      background: var(--navbar-light-secondary);
      transform: translate(0, 0) rotate(0deg); }

  #nav-toggle:checked ~ #nav-content .nav-button span {
    opacity: 0;
    transition: opacity .1s; }

  #nav-toggle:checked ~ #nav-content .nav-button .fas {
    min-width: calc(100% - 16px); }

  #nav-toggle:checked ~ #nav-footer #nav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%); }

  #nav-toggle:checked ~ #nav-footer #nav-footer-titlebox, #nav-toggle:checked ~ #nav-footer label[for="nav-footer-toggle"] {
    opacity: 0;
    transition: opacity .1s;
    pointer-events: none; }

  #nav-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--fourthcolor);
    border-radius: 0 0 16px 0;
    display: flex;
    flex-direction: column;
    color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-border-radius: 0 0 16px 0;
    -moz-border-radius: 0 0 16px 0;
    -ms-border-radius: 0 0 16px 0;
    -o-border-radius: 0 0 16px 0;
    z-index: 99;
}
    #nav-bar hr {
      margin: 0;
      position: relative;
      left: 16px;
      width: calc(100% - 32px);
      border: none;
      border-top: solid 1px var(--navbar-dark-secondary); }
    #nav-bar a {
      color: inherit;
      text-decoration: inherit; }
      #nav-bar span {
        margin-left: 10px;
      }
    #nav-bar input[type="checkbox"] {
      display: none; }

  #nav-header {
    z-index: 99;
    position: relative;
    width: var(--navbar-width);
    left: 16px;
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(fourthcolo);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width .2s; }
    #nav-header hr {
      position: absolute;
      bottom: 0; }

  #nav-title {
    font-size: 1.5rem;
    transition: opacity 1s; }

  label[for="nav-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 99;
}

  #nav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--fourthcoloy);
    border-radius: 99px;
    transition: background .2s; }
    #nav-toggle-burger:before, #nav-toggle-burger:after {
      content: '';
      position: absolute;
      top: -6px;
      width: 10px;
      height: 2px;
      background: var(--navbar-light-primary);
      border-radius: 99px;
      transform: translate(2px, 8px) rotate(30deg);
      transition: .2s; }
    #nav-toggle-burger:after {
      top: 6px;
      transform: translate(2px, -8px) rotate(-30deg); }

  #nav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    background: var(--fourthcoloy);
    box-shadow: 0 0 0 16px var(--fourthcoloy);
    direction: rtl;
    overflow-x: hidden;
    transition: width .2s; }
    #nav-content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    #nav-content::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929; }
    #nav-content::-webkit-scrollbar-button {
      height: 16px; }

  #nav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 74px;
    background: var(--secondcolor);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s; }
    #nav-content-highlight:before, #nav-content-highlight:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 16px 16px var(--secondcolor); }
    #nav-content-highlight:after {
      top: 100%;
      box-shadow: 16px -16px var(--secondcolor); }

  .nav-button {
    position: relative;
    margin-left: 16px;
    height: 74px;
    display: flex;
    align-items: center;
    color: var(--navbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color .2s; }
    .nav-button span {
      transition: opacity 1s; }
    .nav-button .fas {
      transition: min-width .2s; }
    .nav-button:nth-of-type(1):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(1):hover ~ #nav-content-highlight {
        top: 16px; }
    .nav-button:nth-of-type(2):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(2):hover ~ #nav-content-highlight {
        top: 90px; }
    .nav-button:nth-of-type(3):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(3):hover ~ #nav-content-highlight {
        top: 164px; }
    .nav-button:nth-of-type(4):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(4):hover ~ #nav-content-highlight {
        top: 238px; }
    .nav-button:nth-of-type(5):hover {
      color: var(--navbar-dark-primary); }
      .nav-button:nth-of-type(5):hover ~ #nav-content-highlight {
        top: 312px; }

  #nav-bar .fas {
    min-width: 3rem;
    text-align: center; }

  #nav-footer {
    position: relative;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width .2s, height .2s; }

  #nav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center; }

  #nav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: .2s; }
    #nav-footer-avatar img {
      height: 100%; }

  #nav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s; }

  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: .6rem; }

  #nav-footer-toggle:checked + #nav-footer {
    height: 30%;
    min-height: 54px; }
    #nav-footer-toggle:checked + #nav-footer label[for="nav-footer-toggle"] {
      transform: rotate(180deg); }

  label[for="nav-footer-toggle"] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform .2s, opacity .2s; }

  #nav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--navbar-light-secondary);
    padding: 16px 0;
    color: var(--navbar-light-secondary);
    font-size: .8rem;
    overflow: auto; }
    #nav-footer-content::-webkit-scrollbar {
      width: 8px;
      height: 8px; }
    #nav-footer-content::-webkit-scrollbar-thumb {
      border-radius: 99px;
      background-color: #D62929; }
