#delete,.posinew{
    cursor: pointer;
    position: relative;
    transition: transform .3s;
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}

.icon{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.posinew{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 0;
    right: 0;
}

#delete:hover,.posinew:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.listannonce{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    min-height: 254px;
}

.annonce-card{
    position: relative;
    margin: 10px;
    width: 190px;
 height: 254px;
 border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 10px 10px 10px #bebebe, -10px -10px 10px #ffffff;
}

.new, .imgholder, .posinew{
    background-color: var(--secondcolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.new{
    height: 30px;
    width: 30px;
}
.imgholder{
    width: 80px;
    height: 80px;

}
.add-card .imgholder:hover{
    cursor: pointer;
}
.add-card .imgholder{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.iconAdd{
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.head-card{
     width: 60%;
    font-size: medium;
    text-align: center;

}
.containerAnnonceText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-card{
    width: 80%;
    font-size: small;
    text-align: center;

}
.imgholdera{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
