#service {
    display: -ms-grid;
    display: grid;
    place-items: center;
    min-height: 100vh;
    width: 100vw;
    background:rgb(15 16 143 /70%);
  }

  #service .heading {
    font-size: 4rem;
    padding-top: 5rem;
    margin: 2rem 0;
    color: #fff;
    text-align: center;
    position: relative;
  }

  #service .heading::after {
    content: '';
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: .3rem;
    width: 60%;
    border-radius: 5rem;
    background: #333;
  }

  #service .box-container {
    width: 90%;
  }

  #service .box-container .box {
    background: #fff;
    max-width: 60rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0 0 .3rem #333;
            box-shadow: 0 0 .3rem #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 4rem 2rem;
    margin: 2rem;
    clear: both;
  }


  #service .box-container .box .info {
    padding-left: 2.5rem;
    border-left: 0.4rem solid rgb(15 16 143 /70%);
  }

  #service .box-container .box .info h2 {
    font-size: 3rem;
    color: rgb(15 16 143 /70%);
  }

  #service .box-container .box .info p {
    font-size: 1.5rem;
    color: #333;
  }

  #service .box-container .box:nth-child(2) {
    float: right;
  }
  table {

    right: 0;
     background-color: #fff;
     border-collapse: collapse;
     width: 800px;
     height: 50px;
     border: 1px solid #bdc3c7;
     box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
 }

 tr {
     transition: all .2s ease-in;
     cursor: pointer;
 }

 th,
 td {
     padding: 12px;
     text-align: left;
     border-bottom: 1px solid #ddd;
 }
 #header {
     background-color: #a6adab;
     color: #fff;
 }



 .contenufilier .table-row td.active {
     background-color: #e0e0e0;

         width: 100%;

 }


 .contenufilier .hidden {
     display: none;
 }

 .contenufilier table {
     width: 100%;
     border-collapse: collapse;
 }
  .contenufilier th {
     cursor: pointer;
     box-sizing: border-box;
 }
 /*
  .contenufilier td.active {

     width: 100%;
 }
*/
