
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap');

:root{
    --maincolor: #F2E9EB;
    --secondcolor: #dd8e14;
    --thirdcolor: #fec841;
    --fourthcolor: #31383F;
    --color5: #000;
}

/* normalize */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
}
/* position the header */
.header-container{
    background-color: var(--fourthcolor);
    position: relative;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.77);
    -webkit-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px 3px 16px 0px rgba(0,0,0,0.77);
}
.logo a{
    color: #fff;
    margin-left: 10px;
}
/* nav bar*/
.nav-bar{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.nav a{
    color: #fff;
    display: flex;
    align-items: center;
    height: 80px;
    position: relative;
    padding: 10px;
    overflow: hidden;
}
.nav a::before{
    content:"";
    position: absolute;
    bottom: 0;
    left: -100%;
    height: 4px;
    width: 100%;
    background-color: var(--thirdcolor);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.nav li a:hover{
    background-color: var(--color5);
    color: var(--thirdcolor);
}
.nav li a:hover::before{
    left: 0;
}

    /* sing in and up button */
.sign li:first-child a::after:not(.lougout){
    display: block;
    content: "|";
    position: absolute;
    right: -7px;
    top: 0;
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}
.sign{
    display: flex;
    align-items: center;
    position: relative;
}
.sign li{
    text-align: center;
    background-color: var(--secondcolor, #dd8e14);
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
    box-shadow: 1px 25px 19px 5px rgba(0,0,0,0.59);
    -webkit-box-shadow: 1px 10px 19px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 1px 25px 19px 5px rgba(0,0,0,0.59);
    position: relative;
    margin: 0 4px;
    padding: 10px 12px;
}
.sign li:hover{
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    background-color: var(--fourthcolor);
}
/* menu */
div.menuConatiner{

    display: none;
    cursor: pointer;
}
.menu {
    padding: 0px 20px;
    width: 20px;
    height: 14px;
    position: relative;
    right: 0;
  }
.menu span {
    background-color: black;
    height: 2px;
    position: absolute;
    width: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.menuConatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    width: 82px;
    z-index: 3;
}

@media (max-width: 999px){
    .header-container{
        flex-direction: column;
        height: 256px;
    }
    .nav-bar{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 190px;
    }
    .nav{
        justify-content: space-around;
        width: 100%;
        height: 60px;
    }
    .nav-bar li a{
        size: 14px;
        height: 60px;
    }
    .sign{
        height: 100px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 60%;
    }
    .sign li:first-child a::after{
        content: none;
    }
    .sign li{
        margin-bottom: 10px;
        width: 100%;
    }
    .sign li a{
        width: 100%;
        color: #fff;
    }
}
@media (max-width: 644px){
    .sign{
        margin-top: 10px;
        width: 100%;
    }

    .nav-bar{
        display: none;
    }
    .nav{
        height: 50vh;
    }

    .header-container{
        justify-content: space-between;
        flex-direction: row;
        height: 72px;
        width: 100%;
    }
    .logo{
        margin-left: 10px;
    }
    div.menuConatiner{
        display: flex;
    }
    .active{
        display: block;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 72px;
        background-color: #000;
        z-index: 1;

    }
    .active li{
        width: 90%;
    }
    .active .nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .active a:not(ul.sign li a){
        justify-content: center;
        margin-top: 10px;
        width: 100%;
        color:#fff;
        border-bottom: #F2E9EB solid 2px;
        padding-bottom: 10px;
    }
    .menu span:first-child {
        top: 0;
    }
    .menu span:nth-child(2) {
        top: 6px;
    }
    .menu span:last-child {
        top: 12px;
    }
    .span2 {
        opacity: 0;
    }
    span.firstmenu:first-child,
    span.lastmenu:last-child {
        top: 6px;
        background-color: red;
    }

    .firstmenu {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }

    .lastmenu {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }
    .nav li a:hover{
        background-color: var(--fourthcolor);
    }


}

/* name */
.log{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
}
.btnlog{
    height: 20px;
    margin-top: 10px;
    width: 100px;
}
.loga{
    font-size: 12px;
    position:absolute;
    transform: translate(-50%,-50%);
}
@media (max-width: 999px){
    .sign form input[type="text"].search{
        display: none;
    }
    .log{
        height: 200px;
        width: 50%;


    }
    .btnlog{
        height: 34px;
    }

    .sign li a.loga{
       height: 12px;
    }
}

