
section{
    width: 100%;
    height: 90vh;
    position: relative;
    background-image: url(../../storage/app/public/bgclogin.jpg);
}
/* bgc and overlay */
.overrlayLogin{
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/* box of sign */
.signbox{
    z-index: 3;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 90%;
    background-color: #a58e6a ;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -webkit-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -moz-box-shadow: 5px 9px 35px -2px rgba(0,0,0,0.68);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


/* img in box */
div.img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 50%;
    height: 100%;
}
img.loginImag{
    width: 300px;
    filter: drop-shadow(5px 5px 10px #000000);
    -webkit-filter: drop-shadow(5px 5px 10px #000000);
    animation: upDown 3s infinite;
    -webkit-animation: upDown 3s infinite;
}
#isdeleg{
    display: none;
}
#isprof{
    display: none;
}
@media (max-width: 1164px){
    div.img.loginImag{
        display: none;
    }
    div.img{
        display: none;
    }
}


@keyframes upDown {
    0%{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
}50%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}100%{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
}

/* form */
.formSign{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
@media (max-width: 1164px){
    .formSign{
        width: 100%;
    }
}

/* checkbox and remember*/
.remember{
    color: #fff;
}
.check{
    width: 64%;
}
.containerCheck {
    cursor: pointer;
  }

  .containerCheck input {
    display: none;
  }

  .containerCheck svg {
    overflow: visible;
  }

  .path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
  }

  .containerCheck input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
  }

/* inputs */
span.invalid{
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 71, 71,0.8);
    color: #fff;
    width: 70%;
    height: 10px;
    padding: 8px 10px;
    font-size: small;
    border: #aeadad 1px solid;

}
.email,.nom,.confirme,.password{
    position: relative;
    width: 64%;
}
label.labelf {
    position: absolute;
    top: 4px;
    left: 0;
    pointer-events: none;
    z-index: 1;
}
.labelf span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
input:not(input[type="submit"]):not(input[type="checkbox"]):not(input[type="image"]){
    width: 100%;
    color: #fff;
    background-color: transparent;
    border: 0 ;
    border-bottom: 3px solid var(--maincolor);
    border-color: var(--maincolor);
    margin-bottom: 40px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    /* opacity: 0.5; */
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
input:not(input[type="submit"]):not(input[type="checkbox"]):focus,input:not(input[type="submit"]):not(input[type="checkbox"]):valid{
    opacity: 1;
    outline: 0;

}
input:not(input[type="submit"]):not(input[type="checkbox"]):focus+.labelf span,
input:not(input[type="submit"]):not(input[type="checkbox"]):valid+.labelf span{
    transform: translateY(-30px);
}
button.submitbtn{
    border: 0;
    background-color: var(--secondcolor);
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px 5px 0 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    cursor: pointer;

}
/* butt */
.btnLogin {
    cursor: pointer;
    margin: 40px 5px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #fefefe;
    text-transform: uppercase;
    color: #fefefe;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
  }

  .btnLogin::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: var(--secondcolor) ;
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }

  .btnLogin::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px);
    background-color: var(--secondcolor);
    transition: 0.3s ease-out;
    transform: scaleY(1);
  }

  .btnLogin:hover::before {
    transform: translateY(-25px);
    height: 0;
  }

  .btnLogin:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
  }

  .btnLogin:hover {
    border: 2px solid #fefefe;
  }

  .btnLogin span {
    position: relative;
    z-index: 3;
  }

  button {
    text-decoration: none;
    border: none;
    background-color: transparent;
  }


/* pass forget */
.pasForget{

    transform: translateY(-70px);
    color: var(--maincolor);
    font-weight: 700;
    text-decoration: underline;
    -webkit-transform: translateY(-70px);
    -moz-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    -o-transform: translateY(-70px);
}
